<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cs/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
</head>
<body>
    {% with messages = get_flashed_messages() %}     
    {% if messages %}                           
        {% for message in messages %}            
            <p>{{message}}</p>                   
        {% endfor %}
    {% endif %}
{% endwith %}

    <h1>Login and Registration</h1>
    <div class = "container">
        <div class='left-box'>
            <h1>Register here!</h1>
            <form action = "/register" method = "POST">
                <label>First Name: </label>
                <br>
                <input type="text" name = "first_name">
                <br>
                <label>Last Name: </label>
                <br>
                <input type="text" name = "last_name">
                <br>
                <label>Email: </label>
                <br>
                <input type="text" name = "email">
                <br>
                <label>Password Name: </label>
                <br>
                <input type="text" name = "password">
                <br>
                <label>Confirm Password: </label>
                <br>
                <input type="text" name = "confirm_pass">
                <br>
                <input type="submit" value = "Register">
            </form>
        </div>

        <div class="rightbox">
            <h1>Login</h1>
            <form action = "/login" method = "POST">
                <label>Email: </label>
                <br>
                <input type="text" name = "email">
                <br>
                <label>Password: </label>
                <br>
                <input type="text" name = "password">
                <br>
                <input type = "submit" value = "Login">
            </form>
        </div>
</div>
</body>
</html>